Screen {
	background: $primary-background-darken-2;
	align: center middle;
	border: round #BB66FF;
}

Input {
	margin: 2 4;
}

Static.Status {
	margin: 1 4;
	color: white;
	text-align: center;
}

Static.Prompt {
	margin: 1 4;
	color: white;
	text-align: justify;
}

Static.Background {
	align: center middle;
	color: #320045;
	height: 1fr;
	width: 1fr;
}

ContentSwitcher.MenuHolder {
	align: center middle;
	height: auto;
	width: auto;
	background: #00f0;
}

AsciiImage {
	text-style: bold;
	align: center middle;
}

C4Logo {
	layout: horizontal;
	align: center middle;
	margin: 1 0;
	height: auto;
	width: auto;
}

SignupMenu {
	layout: vertical;
	align: center middle;
	border: white hkey;
	width: 75;
	background: $primary-background-darken-1;
}

QrCodeMenu {
	layout: vertical;
	align: center middle;
	border: white hkey;
	height: auto;
	width: auto;
	background: $primary-background-darken-1;
}
