Screen {
	background: $primary-background-darken-2;
	align: center middle;
	border: round #BB66FF;
}

Input {
	margin: 2 4;
}

Static.Status {
	margin: 1 4;
	text-align: center;
}

Static.Prompt {
	margin: 1 4;
	text-align: justify;
}

AsciiImage {
	text-style: bold;
}

C4Logo {
	layout: horizontal;
	margin: 0 8;
	align: center top;
}

PageWrapper {
	layout: vertical;
	max-width: 70;
	align: center middle;
	border: white hkey;
	background: $primary-background-darken-1;
}
