Screen {
	background: $primary-background-darken-2;
	align: center middle;
	border: round #BB66FF;
}

Input {
	margin: 1 0 0 0;
}

Static.Status {
	color: white;
	margin: 1 0 0 0;
	text-align: center;
}

Static.Prompt {
	color: white;
	text-align: justify;
	margin: 1 0 0 0;
	padding: 0 1 0 1;
}

Static.Background {
	align: center middle;
	color: #320045;
	height: 1fr;
	width: 1fr;
}

ContentSwitcher.MenuHolder {
	align: center middle;
	height: auto;
	width: auto;
	background: #00f0;
}

AsciiImage {
	text-style: bold;
	align: center middle;
}

AsciiImage.QrCodeImage {
	padding: 4 4 0 0;
}

C4Logo {
	layout: horizontal;
	align: center middle;
	margin: 1;
	height: auto;
	width: auto;
}

SignupMenu {
	layout: vertical;
	align: center middle;
	border: white hkey;
	width: 60;
	padding: 1 4;
	background: $primary-background-darken-1;
}

Static.QrCodeContainer {
	width: auto;
	height: auto;
	background: white;
	padding: 2 4;
}

QrCodeMenu {
	background: $primary-background-darken-1;
	height: 30;
	width: auto;
	layout: horizontal;
	border: white hkey;
}

Middle.FitShort {
	padding: 0 3 0 3;
}

/*Snake-related styles.*/

SnakeGame {
	layout: grid;
	grid-size: 15 15;
	grid-columns: 4;
	grid-rows: 2;
	background: $primary-background-darken-2;
	grid-gutter: 0;
	border: double white;
	height: 30;
	width: 60;
}

SnakeMenu {
	background: $primary-background-darken-1;
	height: 34;
	width: auto;
	padding: 1 4;
	border: white hkey;
	layout: horizontal;
}

SnakeCell {
	height: 2;
	width: 4;
	color: $primary-background-darken-1;
	background: $primary-background-darken-2;
}

Center.FitShort {
	width: 60;
	layout: horizontal;
}

Label.prepare {
	color: white;
	opacity: 0.0;
}